@{
    ViewData["Title"] = "Ukfdyfz";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Сайт создан при помощи технологий ASP.NET Core</a>.</p>
</div>
